.header {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 40px;
  width: 100%;
  align-items: center;
  font-family: "Abel", sans-serif;
  padding-left: 10px;
  z-index: 10;
}
