.allscreencanvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasstack {
  margin-left: 20px;
  width: 68%;
  height: 80%;
  border-left: solid lightgray 1px;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: border;
  animation-duration: 1s;
}
@keyframes border {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 80%;
    opacity: 1;
  }
}
.descriptioncontainer {
  display: flex;
  width: 100%;
}
.descriptionstack {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  width: 500px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
.offclick {
  width: 68%;
  border-left: solid lightgray 1px;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: borderoff;
  animation-duration: 1s;
}
@keyframes borderoff {
  from {
    height: 80%;
    opacity: 1;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}
.text2 {
  color: white;
  opacity: 1;
  font-size: 200px;
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
}
