.canvas {
  width: 68%;
  height: 80%;
  border-left: solid lightgray 1px;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: border;
  animation-duration: 1s;
  background-color: #66000000;
}
@keyframes border {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 80%;
    opacity: 1;
  }
}
.descriptioncontainercontact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.descriptioncontact {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  width: 40%;
  padding-left: 20px;
}
.offclick {
  width: 68%;
  border-left: solid lightgray 1px;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: borderoff;
  animation-duration: 1s;
}
@keyframes borderoff {
  from {
    height: 80%;
    opacity: 1;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}
.text4 {
  color: white;
  opacity: 1;
  font-size: 200px;
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
}

.logolinkedin {
  width: 80px;
}

.logoinstagram {
  width: 80px;
}
.logogmail {
  width: 90px;
}
.logogithub {
  width: 90px;
  border-radius: 10px;
}
.link {
  z-index: 2;
  cursor: pointer;
}
.link1 {
  z-index: 2;
  cursor: pointer;
}
.link2 {
  z-index: 2;
  cursor: pointer;
}
.link3 {
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 1260px) {
  .text4 {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 50px;
  }
  .logolinkedin {
    width: 50px;
  }

  .logoinstagram {
    width: 50px;
  }
  .logogmail {
    width: 55px;
  }
  .logogithub {
    width: 55px;
    border-radius: 10px;
  }
  .canvas {
    height: 79%;
  }
}

@media (max-width: 500px) {
  .descriptioncontainercontact {
    flex-direction: column;
    height: 60%;
  }
}
