.canvas {
  margin-left: 20px;
  width: 68%;
  border-left: solid lightgray 1px;
  /* top: 0; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: border;
  animation-duration: 1s;
}
@keyframes border {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 80%;
    opacity: 1;
  }
}
.descriptioncontainerprojet {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.descriptionstackprojet {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
.descriptionstackprojet:hover {
  border: 2px solid blue;
  text-decoration: underline;
  cursor: pointer;
  animation-name: popproj;
  animation-duration: 1s;
  height: 200px;
}
@keyframes popproj {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}
.offclick {
  margin-left: 20px;
  width: 68%;
  border-left: solid lightgray 1px;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: borderoff;
  animation-duration: 1s;
}
@keyframes borderoff {
  from {
    height: 80%;
    opacity: 1;
  }
  to {
    height: 0%;
    opacity: 0;
  }
}
.text3 {
  color: white;
  opacity: 1;
  font-size: 200px;
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
}
.linkcolor {
  color: white;
  text-decoration: unset;
}

@media (max-width: 1260px) {
  .text3 {
    font-size: 50px;
    padding-bottom: 20px;
  }
  .descriptionstackprojet {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .descriptionstackprojet {
    font-size: 18px;
    flex-direction: column;
    align-items: center;

    margin-left: -0px;
  }
  .text3 {
    width: 100%;
  }
  .canvas {
    justify-content: center;
  }
}

.aboutproject {
  border: 2px solid red;
}
