.leftsidebar {
  position: absolute;
  opacity: 1;
  z-index: 3;
  top: 0;
  width: 15.4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;

  /* background-color: red; */
}

.headeroff {
  display: none;
}

.headername {
  position: absolute;
  /* top: 0; */
  margin-left: 20px;
  /* border: 2px solid green; */
  width: 80%;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  animation-name: pop;
  animation-duration: 3s;
}
.antoinedegonville {
  animation-name: name;
  animation-duration: 1s;
}

@keyframes name {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.headertitle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  height: 50%;
  animation-name: linear;
  animation-duration: 2s;
}
@keyframes linear {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}

.headertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.menu {
  margin-top: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation-name: pop;
  animation-duration: 10s;
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menuitem {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.menuprojet {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.menuprojet p {
  cursor: pointer;
}
.menuprojetclicked {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  animation-name: underline;
  animation-duration: 2s;
}
.menuprojetclicked p {
  cursor: pointer;
}
@keyframes underline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menuinfos {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.menuinfos p {
  cursor: pointer;
}
.menuinfosclicked {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  animation-name: underline;
  animation-duration: 2s;
}
.menuinfosclicked p {
  cursor: pointer;
}
@keyframes underline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menustack {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.menustack p {
  cursor: pointer;
}
.menustackclicked {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  animation-name: underline;
  animation-duration: 2s;
}
.menustackclicked p {
  cursor: pointer;
}
@keyframes underline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menucontact {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.menucontact p {
  cursor: pointer;
}
.menucontactclicked {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  animation-name: underline;
  animation-duration: 2s;
}
.menucontactclicked p {
  cursor: pointer;
}
@keyframes underline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menuitem p {
  cursor: pointer;
}

.invisible {
  display: none;
}
.reload {
  margin-top: 15px;
  font-size: 12px;
}
.reloadclick {
  color: white;
  text-decoration: inherit;
}

/* --------------------------------- */
@media (max-width: 1500px) {
  .reload {
    font-size: 10px;
  }
}

@media (max-width: 1260px) {
  .headername {
    font-size: 16px;
    width: 180px;
    margin-left: -10px;
  }
  .leftsidebar {
    width: 15%;
  }
  .headertitle {
    display: none;
  }
  .reload {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  .leftsidebar {
    width: 25%;
  }
  .menucontact {
    font-size: 18px;
  }
  .menuinfos {
    font-size: 18px;
  }
  .menuprojet {
    font-size: 18px;
  }
  .menustack {
    font-size: 18px;
  }
  .headername {
    padding-left: 170px;
  }
  .reload {
    margin-top: 15px;
    font-size: 11px;
  }
}
